body{
  padding-top: 106px;
}
.navbar {
    z-index: 99;
    position: fixed;
  }

  .navbar-brand span {
    margin-left: 20px;
    margin-right: 50px;
  }

  .collapse form button {
    margin-right: 30px;
  }

  .dropdown-toggle {
    margin-top: 50px;
  }

  .navbtn {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    border: 1px solid #0d6efd;
    background-color: #0d6efd;
    color: white;
    text-decoration: none;
  }

  .navbtn:hover {
    border: 1px solid #198754;
    background-color: #198754;
    color: white;
  }

  .site-footer {
    padding: 100px;
    background-color: #2B2E33;
    color: white;
  }

  .site-footer a {
    color: lightgray;
    text-decoration: none;
  }

  @media only screen and (max-width: 400px) {
    .navbtn {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .site-footer {
      padding: 5%;
      padding-top: 50px;
      text-align: center;
    }
    .dropdown {
      margin-top: 20px;
    }
  }